DYNAMO_ENDPOINT=http://localhost:8010
REGION=eu-west-1
IS_OFFLINE=true
LAMBDA_ENDPOINT=https://lambda.eu-west-1.amazonaws.com
LOCAL_LAMBDA_ENDPOINT=http://localhost:4002
TABLE_NAME_USERS=usersTable